# Copia este archivo como .env.development (dev) o .env.production (prod)
# y llena los valores correspondientes

VITE_API_URL=

VITE_FIREBASE_ADMIN_PROJECT_ID=
VITE_FIREBASE_ADMIN_PRIVATE_KEY=
VITE_FIREBASE_ADMIN_CLIENT_EMAIL=

VITE_FIREBASE_APIKEY=
VITE_FIREBASE_AUTHDOMAIN=
VITE_FIREBASE_PROJECTID=
VITE_FIREBASE_APPID=
